/*UNIVERSAL TAG*/
html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/********************************************************/

/*BLOCCO HEADER*/
.main {
	height: auto;
	background: #333;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    .title {
        position: absolute;
        z-index: 50;
        font-size: 50px;
        color: grey;
        font-style: oblique;
        display: inline-block;
        padding: 15px;
        background-color: white;
        border-radius: 10px;
        opacity: 0.9;
        margin: 10px;
    }
    
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		li {
			flex: 1 1 40rem;
			height: 30rem;
			overflow: hidden;
			background: #000;
			object-fit: cover;

			&:hover .img {
				filter: grayscale(0);
				transform: scale(1);
				opacity: 1;
			}

			.img {
				height: 100%;
				width: 100%;
				transform: scale(1.1);
				filter: grayscale(30%);
				opacity: 0.8;
				object-fit: cover;
				transition: all 0.2s ease-in-out;
				cursor: pointer;
			}
		}
	}
}

.header{
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 50;
    overflow-y: hidden;
    
    .head_before{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        transition: all 0.2s ease-in;
        
        .left_obj{
            position: absolute;
            top: 50%;
            margin-top: -12px;
            left: 10px;
            font-size: 24px;
        }
    }

    .head_after{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        transition: all 0.2s ease-in;
        
        .left_obj{
            position: absolute;
            top: 50%;
            margin-top: -18px;
            left: 10px;
            font-size: 24px;
        }
    }
    
    .header_menu{
        position: absolute;
        top: 50%;
        margin-top: -16px;
        right: 10px;
        
        a i{
            font-size: 32px;
            color: black !important;
        }
    }
    
}

.compensatore{
    height: 70px;
}
/********************************************************/


/*BLOCCO BODY*/
.container{
    margin-top: 20px;
    
    .materialboxed{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
/********************************************************/

/*BLOCCO FOOTER*/
.page-footer{
    margin-top: 50px;
    color: black !important;
    background-color: white !important;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
    font-size: 15px !important;
}
/********************************************************/

/*UTILITIES*/
.dn{
    display: none;
}

.pos_fix{
    position: fixed;
    top: 0px;
}

.trans-100{
    transform: translateY(-100%);
}

.trans_100{
    transform: translateY(100%);
}
/********************************************************/

